<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.browbar.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. BrowBar</name>

    <description>
        Онлайн-запись для клиентов
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/dfe3d2a76eb0930116dcb938dde438d3.png" density="ldpi" />
        <icon src="res/android/icon/bebe52e8ccd7ad7e898dd398d290c10d.png" density="mdpi" />
        <icon src="res/android/icon/d2a3d2fa6a7572d2c625979a79574a34.png" density="hdpi" />
        <icon src="res/android/icon/063ca390e77bd1b1ecbc69957ba4a6ef.png" density="xhdpi" />
        <icon src="res/android/icon/e8a4d9e665d30037f082d1c5fede1cf0.png" density="xxhdpi" />
        <icon src="res/android/icon/29c93d7e0bbbd001b8b6690f4e8899bf.png" density="xxxhdpi" />

        <splash src="res/android/screen/3b3f3e93d59347e3944ae79c757dc3fd.png" density="port-hdpi"/>
        <splash src="res/android/screen/6758fdb47d9f42b2feb11050b831c6e1.png" density="port-ldpi"/>
        <splash src="res/android/screen/5e5e4b7a2ee6deeeba3843a4f6fdd386.png" density="port-mdpi"/>
        <splash src="res/android/screen/23dab75f5775e79fd27c96f2e7daf904.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/c8ba82e06bfa47a74371ee709768efc2.png" width="180" height="180" />
        <icon src="res/ios/icon/359a886ee710407c957f7501a7855e18.png" width="60" height="60" />
        <icon src="res/ios/icon/a2cea3eea499c927f19d9b734d50a34d.png" width="120" height="120" />
        <icon src="res/ios/icon/24ff1d903410d477dde256cc5d615879.png" width="76" height="76" />
        <icon src="res/ios/icon/6a9f4cca48979286b38948d904b74366.png" width="152" height="152" />
        <icon src="res/ios/icon/d5d9f6b3f25883b41e1aaf35c9f851cb.png" width="57" height="57" />
        <icon src="res/ios/icon/8abeeb20e95f4953cb005a7afc4fcbc9.png" width="114" height="114" />
        <icon src="res/ios/icon/bb62e5e36a0991ce71f1137c0d7b38f5.png" width="72" height="72" />
        <icon src="res/ios/icon/db2a9daea85760b0dff992d99eaf33f7.png" width="144" height="144" />
        <icon src="res/ios/icon/79e3f2f02bb16b63ec77d05702be6e08.png" width="167" height="167" />
        <icon src="res/ios/icon/b760cdc036a72f44333cc49faa519ba2.png" width="29" height="29" />
        <icon src="res/ios/icon/ace673eb189fe697277c7eb90601a8f1.png" width="58" height="58" />
        <icon src="res/ios/icon/941a0c98770d87ee8d95a0ef9d7a3a26.png" width="87" height="87" />
        <icon src="res/ios/icon/93e5dd1669cdda7c0b5c69ae9e48cdd0.png" width="167" height="167" />

        <splash src="res/ios/screen/e885dbd1bfb68e4ee57e22540e765f5e.png" />
        <splash src="res/ios/screen/4894c7a3868d574109160ccaaf6cc41d.png" />
        <splash src="res/ios/screen/4171e24383cf85e815827c28fbea265a.png" />
        <splash src="res/ios/screen/7acac31adab3de29f3201fb706576406.png" />
        <splash src="res/ios/screen/6117a5662d6453f9137353bdab259627.png" />
        <splash src="res/ios/screen/a1bcffdc8c962338debc267528ab8e35.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/f9338e8fcb0b94ec69b1051c27ef5b65.png" target="StoreLogo" />
        <icon src="res/windows/icon/cbaa2a0165bc81e8b2fe127846611004.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/1955138181928c529e03529e5078df52.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/c8dc40e2918feae643d1d5913af334f8.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/8f0c9b9f32fe11afd1346515841eebc0.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/5cf2d7407d67ef042b56970132287a38.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/badd0e4879848aa8f68efe9100eda84c.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/2fa91f237d7e7b49ebdf2280c7f5dfc0.png" target="SplashScreen"/>
        <splash src="res/windows/screen/9f1bd3d4729cb71bbf40e7a5bfd2cedf.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>